
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background {
    width: 800px;
    height: 900px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child{
    background: linear-gradient(
        rgba(253,95,169,255),
        rgba(251,140,48,255)
    );
    left: 600px;
    top: -10px;
}

.shape:last-child {
    background: linear-gradient(
        to right,
        rgba(98,9,211,255),
        rgba(167,37,187,255)

    );
    right: 600px;
    bottom: -10px;
}

form {
    height: 810px;
    width: 700px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 40px 35px;
}

form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    font-family: Inder;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    font-family: Inter;
}

input {
    display: block;
    height: 45px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e570;
}

.btn {
    margin-left: 22%;
    margin-top: 40px;
    width: 50%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: rgb(59, 129, 161);
    box-shadow: 0px 0px 20px rgb(192, 226, 255);
}

.sided-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sided-inputs > div {
    width: 46%;
}

.login {
    margin-top: 30px;
    margin-left: 30%;
    display: flex;
}
  
.loginbtn {
    background-color: #08071000;
    color: white;
    margin-left: 10px;
    text-decoration: underline;
}
  
.loginbtn:hover {
    color: rgb(110, 209, 255);
}

.loginbtn:focus {
    outline: none;
}